{{ define "main" }}
  <!-- <article>{{ .Content }}</article> -->
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}
	<article>
	<section class="pb-20">
	  <a href="index.xml">RSS</a>(all tags)
	  {{ range .Paginator.Pages }}
		<div>
		  {{ partial "item.html" . }}
		</div>
	  {{ end }}
	</section>
	<div class="pagination">{{ template "_internal/pagination.html" . }}</div>
	</article>
	{{ end }}
	
	
	<aside class="home-right-sidebar">
		<section class="widget tagCloud">
			<h2 class="widget-title section-title">Categories</h2>
			<div class="tagCloud-tags">
				{{ range first 10 .Site.Taxonomies.categories.ByCount }}
					<a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
						{{ .Page.Title }}
					</a>
				{{ end }}
			</div>
		</section>
		<section class="widget tagCloud">
			<h2 class="widget-title section-title">Tags</h2>
			<div class="tagCloud-tags">
				{{ range first 10 .Site.Taxonomies.tags.ByCount }}
					<a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
						{{ .Page.Title }}
					</a>
				{{ end }}
			</div>
		</section>
	</aside>
{{ end }}
